// General

body {
    background-color: $white;
    font-family: $sourcesanspro;
    color: $charcoal;
    font-size: $body-font-size;
    line-height: $body-line-height;

    @include media-tablet {
        background-color: $gainsboro;
    }
}

// Top bar & navigation

.top-bar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $charcoal;
    color: $white;
    
    ul.primary-menu {
        padding: 0 20px;
        margin: 0;
        display: flex;
        list-style-type: none;

        li {
            margin-right: 30px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                color: $white;
            }
        }
    }

    @include media-tablet {
        margin-bottom: 50px;
    }
}


// Main

.main-container {
    max-width: 100%;
    padding: 20px;

    @include media-tablet {
        width: 80vw;
        margin: 0 auto 100px;
        padding: 20px;
        background-color: $white;
        border-radius: 3px;
    }

    @include media-desktop {
        width: 800px;
    }
}


// Content image

.content-image {
    @include aspectratio(1200px, 600px);
    margin-bottom: 30px;
}


// Events tab buttons

.buttons {
    margin-top: 34px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $gainsboro;

    button {
        z-index: 100;
        border: 0px solid transparent;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        background-color: $white;
        height: 50px;
        margin-right: 20px;
        color: $charcoal-light;
        font-weight: $semibold;
        cursor: pointer;
        padding: 10px 20px;

        &.active {
            border-bottom: 2px solid $gainsboro;
            color: $charcoal;
        }

        &:last-of-type {
            margin-right: 0px;
        }
    }
}


// Events tabs

.events {
    display: none;
    margin-left: -20px;
    margin-right: -20px;

    h2 {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;

        @include media-tablet {
            margin-top: 20px;
            padding-left: unset;
            padding-right: unset;
        }
    }

    @include media-tablet {
        margin-left: unset;
        margin-right: unset;
    }

    &.open {
        display: block;
    }
}


// Events table

.events-list {
    width: 100%;
    border: 0px solid transparent;
    margin-top: 20px;

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: $charcoal;
        border-bottom: 1px solid $gainsboro;

        &:focus,
        &:hover {
            color: $charcoal;
            background-color: $lightgray;
            text-decoration: none;
        }

        &:last-of-type {
            border-bottom: unset;
        }

        @include media-tablet {
            flex-wrap: nowrap;
            border-bottom: unset;

            &:nth-child(odd) {
                background-color: $lightgray;
            }

            &:focus,
            &:hover {
                background-color: $gainsboro;
            }
        }
    }

    &__start-date {
        width: 100%;
        padding: 10px 20px 0;

        @include media-tablet {
            width: 20%;
            padding: 10px;

            .end-date {
                display: none;
            }
        }
    }

    &__end-date {
        display: none;

        @include media-tablet {
            width: 20%;
            padding: 10px;
            display: block;
        }
    }

    &__title {
        width: 100%;
        padding: 0 20px 10px;
        font-weight: $semibold;

        @include media-tablet {
            width: 60%;
            padding: 10px;
            font-weight: $regular;
        }

        .excerpt {
            font-size: rem(14px);
            color: $charcoal-light;
            font-weight: $regular;
            line-height: 100%;
            padding: 3px 0 8px;

            @include media-tablet {
                font-size: rem(13px);
            }
        }
    }

    &__head {
        display: none;
        color: $white;
        background-color: $charcoal;

        > * {
            font-weight: $semibold;
        }

        @include media-tablet {
            display: flex;
        }
    }
}
