// Fonts

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$sourcesanspro: 'Source Sans Pro', sans-serif;


// Font weights

$regular: 400;
$semibold: 600;
$bold: 700;


// Color variables

$black: #000;
$white: #fff;
$lightgray: #f6f8fb;
$gainsboro: #D8DBE2;
$steel: #A9BCD0;
$cadet: #58A4B0;
$charcoal: #373F51;
$charcoal-light: #606878;
$popstar: #B4656F;
$green: #6F8F72;
$olive: #646F4B;


// Typography variables

$body-font-size: rem(16px);
$body-line-height: 150%;

$h1-font-size-mobile: rem(24px);
$h1-font-size-desktop: rem(34px);

$h2-font-size-mobile: rem(20px);
$h2-font-size-desktop: rem(24px);
